* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 181);

}

h1 {
    background-color: rgb(109, 211, 255);
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 70px;
}

#bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    margin: 40px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    width: 183px;
    height: 273px;
}

.cache {
    width: 200px;
    height: 300px;
    position: relative;
    left: 32px;
    bottom: 327px;
    margin-bottom: -300px;
    display: none;
}

.pic {
    background-color: rgb(109, 211, 255);
    padding: 40px;
}

p {
    font-size: 40px;
    margin-bottom: 30px;
    display: none;
}

#but {
    background-color: rgb(22, 162, 31);
    font-size: 40px;
    border-radius: 40px;
    padding: 10px;
    display: none;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 50px;
    }

    .photo {
        width: 137px;
        height: 205px;
    }

    .cache {
        width: 160px;
        height: 225px;
        bottom: 260px;
        margin-bottom: -220px;
    }

    p {
        font-size: 30px;
    }

    #but {
        font-size: 30px;
        border-radius: 35px;
    }
}